@keyframes modalShow {
    0% {
        opacity: 0;
        top: 0%;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 1;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}