:root {

    --font-tab: 1.2rem;
    --font-mobile: 0.7rem;

    --color-white: #fff;
    --color-black: #000;

    --color-green-50: #edffd5;
    --color-green-100: #97b967;
    --color-green-200: #769747;
    --color-green-300: #4a6229;

    --color-red-50: #ffdae3;
    --color-red-100: #f26a8d;
    --color-red-200: #dd2d4a;
    --color-red-300: #880d1e;

    --color-cream-50: #f3f2ed;
    --color-cream-100: #f3f2ed;
    --color-cream-150: #e9e6d4;
    --color-cream-200: #fff4da;
    --color-cream-250: #e9dfc7;
    --color-cream-300: #d2c9b4;
    --color-cream-400: #baa880;
    --color-cream-500: #93784e;

    --color-light-100: #f8f9fa;
    --color-light-200: #e9ecef;
    --color-light-300: #ced4da;

    --color-dark-50: #cfd8e0;
    --color-dark-100: #adb5bd;
    --color-dark-200: #79838b;
    --color-dark-300: #495057;

    --color-primary-0: #dfe9fa;
    --color-primary-50: #496dab;
    --color-primary-100: #33538a;
    --color-primary-150: #264272;
    --color-primary-200: #0e3c8c;
    --color-primary-300: #1f2c42;

    --color-font-light: #f2f2f2;
    --color-font-dark: #757575;

    --color-main-border: #ead6f2;
    --color-main-light: #694d75;
    --color-main: #331832;
    --color-main-dark: #1e131e;

    --color-gold-light: #fbcf83;
    --color-gold: #faba23;
    --color-gold-dark: #503912;


    /* Blue */
    --color-blue-100: #dbeafe;
    --color-blue-300: #93c5fd;
    --color-blue-500: #3b82f6;
    --color-blue-700: #1d4ed8;

    /* Green */
    --color-green-100: #dcfce7;
    --color-green-300: #86efac;
    --color-green-500: #22c55e;
    --color-green-700: #15803d;

    /* red (Gray) */
    --color-red-50: #f0bdca;
    --color-red-100: #f26a8d;
    --color-red-200: #dd2d4a;
    --color-red-300: #de3a56;
    --color-red-500: #de3a56;
    --color-red-700: #580a14;
}