@use './../abstracts/mixins' as *;

.icons {

    &_create-cabin {
        font-size: 2rem;
        margin-right: 1rem;
        color: var(--color-dark-300);
    }

    &_user {
        cursor: pointer;
        transition: all 0.2s;
        color: var(--color-dark-200) !important;

        &:hover {
            transform: scale(1.1);
        }
    }

    &_logout {
        cursor: pointer;
        transition: all 0.2s;
        stroke: var(--color-dark-200);

        &:hover {
            transform: scale(1.1);
        }
    }

    &_trash {
        color: var(--color-red-100);
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s;

        position: relative;
        top: 0;
        margin-right: 0.5rem;

        &:hover {
            top: -2px;
        }

        @include respond('tab-port') {
            font-size: 1.5rem;
        }

        @include respond('phone') {
            font-size: 1rem;
        }

    }

    &_close {
        cursor: pointer;
        color: var(--color-red-100) !important;
        transform: scale(1.2);
        transition: all 0.2s;

        &:hover {
            color: var(--color-red-200) !important;
            transform: scale(1.3);
        }
    }

    &_duplicate {
        color: var(--color-primary-100);
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        top: 0;

        &:hover {
            top: -2px;
        }

        @include respond('tab-port') {
            font-size: 1.5rem;
        }

        @include respond('phone') {
            font-size: 1rem;
        }
    }

    &_addCabin {
        font-size: 1.8rem;

        @include respond('phone') {
            font-size: 1.2rem;
        }
    }

    &_showTable {
        font-size: 1.8rem;

        @include respond('phone') {
            font-size: 1.2rem;
        }
    }

    &_booking {
        font-size: 1.2rem;

        @include respond('tab-port') {
            font-size: 0.7rem;
        }

        @include respond('phone') {
            font-size: 0.6rem;
        }

        &-amount {
            font-size: 1.5rem;
        }
    }

    &_login {
        font-size: 2rem;
    }

    &_auth {
        font-size: 2rem;
    }
}