@use './../abstracts/mixins' as *;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        // font-size: 55.5%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 37.5%;
    }
}

body {
    font-family: 'open-sans';
    color: var(--color-dark-300);

    &::selection {
        background: var(--color-gold);
        color: var(--color-black);
    }
}

.demo {
    display: flex;
    align-items: center;
}

h1 {
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: 10px;
    transition: all 0.4s;

    &:hover {
        background: #7d7d7d;

    }
}