@use './../abstracts/mixins' as *;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 37.5%;
    }
}

body {
    font-family: 'open-sans';
}

.demo {
    display: flex;
    align-items: center;
}

h1 {
    letter-spacing: 1px;
}